/* Import Source Sans 3 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.source-sans-3 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: darkgray;
}

.navbar {
    background-color: #333; 
    padding: 10px; 
}

.nav-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for horizontal layout */
}

.nav-list li {
    margin-right: 20px; 
}

.nav-list li a {
    color: white; 
    text-decoration: none; 
    padding: 8px 16px; 
}

.nav-list li a:hover {
    background-color: #575757; 
    border-radius: 4px; 
}


#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
}

#hero.home {
    background-image: url(fhouse.png);
}

#hero.about {
    background-image: url(Rural.png);
}

#hero.models {
    background-image:url(min.png);
    
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.bald {
    background-color: rgba(128, 102, 102, 0.8);
    padding: 1em;
    color: rgb(0, 0, 0);

}