/* Import Source Sans 3 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bg-color-a: rgba(128, 102, 102, 0.8)
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;

}

.source-sans-3 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section.roww {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
}

section.col.half {
    width: 48%;
}


body {
    background-color: darkgray;
    
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Use flexbox for horizontal layout */
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-list li a:hover {
    background-color: #575757;
    border-radius: 4px;
}


#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
}

#hero.home {
    background-image: url(fhouse.png);
    animation: changeBg 12s infinite;
}

@keyframes changeBg {
    0% {
        background-image: url(fhouse.png);
    }

    33% {
        background-image: url(min2.png);
    }

    66% {
        background-image: url(eco.png);
    }

    100% {
        background-image: url(fhouse.png);
    }
}




#hero.about {
    background-image: url(Rural.png);
}

#hero.models {
    background-image: url(min.png);

}

#hero.models2 {
    background-image: url(Untitled-1.png);
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.bald {
    background-color: rgba(128, 102, 102, 0.8);
    padding: 2.3em;
    color: rgb(0, 0, 0);
    font-size: larger;

}

.image-right {
    width: 300px;
    float: right;
    padding-right: auto;
    padding-top: 23px;
}
.re-one {
   flex-wrap: wrap; 
   background-color: rgba(128, 102,102, 0.8);
    padding-left: 2%;
    /* text-orientation: upright; */
    /* writing-mode: vertical-lr; */
    justify-content: center;
    /* height: 450px; */
    margin: 1em;
    
}

.re-two {
    background-color: rgba(128, 102,102, 0.8);
    padding-left: 2%;
    margin-top: 1em;

}
footer {
   background-color:rgba(128, 102,102, 0.8);
   padding: 30px 0px;
   color: black;
   text-align: center;

    display: flex;
    background-color: rgba(128, 102,102, 0.8);
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    list-style: none; 
}
a {
    color:black;
    margin: 0 10px;
    text-decoration: none;
    
}

footer .row{
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    font-size: 0.8em;
}

footer .row a{
    text-decoration: none
   transition 0.5s;
}

footer .row a:hover {
    color: #fff;
}

footer .row ul{
    width: 100%;
}

footer .row ul li{
    display: inline-block;
    margin:  0px 30px;
}

footer .row a{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px)
    .footer{
    text-align:left;
    padding:5%;
    }
    footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    footer .row a{
    margin:0% 3%;
    }
    
.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#reviews {
    background-color: var(--bg-color-a);
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
}

section.section-head {
    width: 100%;
}

.half {
    width: 50%;
}

.content {
    padding: 1em;
}

.herbert {
    background-color: rgba(128, 102, 102, 0.8);
    padding: 2.0em;
    color: rgb(0, 0, 0);
    font-size: large;
}


.add {
    margin-right: 1em;
}

.mm3 {
    width: 350px;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.row.full {
    width: 100vw;
}

.quarters article {
    width: 23%;
}

.thirds article {
    width: 30%;
}

.twothirds article:first-child {
    width: 64%;
}

.twothirds article:last-child {
    width: 32%;
}

.halves article {
    width: 48%;
}

.cards article,
.card {
    box-shadow: 0 3px 5px rgba(0,0,0,0.33);
    border: solid 1px black;
    background-color: rgba(128, 102, 102, 0.8);
    border-radius: 1rem 0 1rem;
}

.cards article img,
.card img {
    border-radius: 1rem 0 0 0;
    border: none;
}

.cards article h2,
.cards article h3,
.cards article p,
.card h2,
.card h3,
.card p {
    padding: 0 1rem;
    
}

.cards article a,
.card a {
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: right;
}

.cards .button,
.card .button {
    border-radius: 1rem 0 1rem ;
}

